body{
    font-family: 'Nunito';
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#chat-main, #video-main, #screen-share-main{
    max-width: 100%;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window, #video-window{
    height: 40vh;
    overflow: hidden;
    background: #f9f9f9;
}

#localVideo, #remoteVideo {
  width: 450px;
}

#screen-share-window{
  height: 100vh;
  overflow: auto;
  background: #f9f9f9;
}

#message-window p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 2px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#message-window strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

.display-text{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add effects to streamed video
video {
  filter: blur(4px) invert(1) opacity(0.5);
}
video {
   filter: hue-rotate(180deg) saturate(200%);
 }
*/
